#### Ödev
Titanic verilerini Kaggle'dan indirin. Buradaki train.csv dosyasındaki veriler ihtiyacınızı görecektir.
Verilerinizi eğitim ve test kümelerine ayırın.
Modelinizi oluşturarak ayırdığınız test kümesindeki verilere göre hayatta kalma durumlarını tahmin edin
Modelinizin performansı tatmin edici mi? Açıklayın.
Bazı değişkenleri ekleyerek veya çıkararak modelinizi tahmin performansı açısından geliştirmeye çalışın.
Lojistik Regresyon'un avantaj ve dezavantajlarını araştırın ve mentörünüzle tartışın.

In [15]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import seaborn as sns

In [16]:
df= pd.read_csv("Desktop/Bootcamp Ödevler/Sınıflandırma/train.csv")
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [17]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

#### Hedef değişken: survived
#### özellikler: age,sex, pclass, embaked (embarked ve sex dummy yapılacak)

In [19]:
df.isnull().sum()*100/df.shape[0] #age için boş değerleri ortalama ile doluracağım

PassengerId     0.000000
Survived        0.000000
Pclass          0.000000
Name            0.000000
Sex             0.000000
Age            19.865320
SibSp           0.000000
Parch           0.000000
Ticket          0.000000
Fare            0.000000
Cabin          77.104377
Embarked        0.224467
dtype: float64

In [20]:
df["Age"].fillna(df["Age"].mean(), inplace=True, axis=0)

In [21]:
df.isnull().sum()*100/df.shape[0]

PassengerId     0.000000
Survived        0.000000
Pclass          0.000000
Name            0.000000
Sex             0.000000
Age             0.000000
SibSp           0.000000
Parch           0.000000
Ticket          0.000000
Fare            0.000000
Cabin          77.104377
Embarked        0.224467
dtype: float64

kategorikleri dummy yapma:

In [22]:
category_col= ["Embarked", "Sex"]
df_1= pd.concat([df, pd.get_dummies(df[category_col])], axis=1)
df_1.drop(category_col, inplace=True, axis=1)
df_1.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked_C', 'Embarked_Q', 'Embarked_S',
       'Sex_female', 'Sex_male'],
      dtype='object')

### Logistic Regrssion:

In [35]:
ozellikler= ["Pclass","Age", "Embarked_C", "Embarked_Q", "Embarked_S", "Sex_female", "Sex_male"]
Y= df_1["Survived"]
X= df_1[ozellikler]

X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.2)

log_reg= LogisticRegression()
log_reg.fit(X_train, Y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [36]:
egitim_dogruluk= log_reg.score(X_train, Y_train)
test_dogruluk= log_reg.score(X_test, Y_test)

print("One vs Rest", "-"*30, "Eğitim kümesi doğruluğu: {}".format(egitim_dogruluk),
        "Test kümesi doğruluğu: {}".format(test_dogruluk), sep="\n")

One vs Rest
------------------------------
Eğitim kümesi doğruluğu: 0.7921348314606742
Test kümesi doğruluğu: 0.7821229050279329

In [37]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [49]:
X_train

,Pclass,Age,Embarked_C,Embarked_Q,Embarked_S,Sex_female,Sex_male
885,3,39.000000,0,1,0,1,0
839,1,29.699118,1,0,0,0,1
315,3,26.000000,0,0,1,1,0
416,2,34.000000,0,0,1,1,0
326,3,61.000000,0,0,1,0,1
...,...,...,...,...,...,...,...
177,1,50.000000,1,0,0,1,0
41,2,27.000000,0,0,1,1,0
120,2,21.000000,0,0,1,0,1
457,1,29.699118,0,0,1,1,0
591,1,52.000000,1,0,0,1,0

In [43]:
np.array(X_test[0:2])

array([[ 1., 29.,  0.,  0.,  1.,  0.,  1.],
       [ 3., 25.,  0.,  0.,  1.,  0.,  1.]])

In [41]:
tahmin

array([[ 3., 22.,  0.,  0.,  1.,  0.,  1.],
       [ 3., 22.,  0.,  1.,  0.,  0.,  1.]])

In [50]:
tahmin= np.array([[3,22.0,0,0,1,1,0]])  
print(log_reg.predict(np.array(tahmin)))

# "Pclass","Age", "Embarked_C", "Embarked_Q", "Embarked_S", "Sex_female", "Sex_male"

[1]

C değeri ile performansı değiştirme

In [13]:
c_degerleri= [0.001, 0.01, 0.1, 1, 10, 100, 1000]
c_df= pd.DataFrame(columns=["C degeri", "Egitim Dogrulugu", "Test Dogrulugu"])
for c in c_degerleri: 
    lr= LogisticRegression(penalty="l1", C=c, random_state=0) #bu değerler ne anlama geliyor?
    lr.fit(X_train, Y_train)
    c_df= c_df.append({"C degeri": c, "Egitim Dogrulugu": lr.score(X_train, Y_train),
                            "Test Dogrulugu": lr.score(X_test, Y_test)}, ignore_index=True)
    
display(c_df)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

   C degeri  Egitim Dogrulugu  Test Dogrulugu
0     0.001          0.630618        0.558659
1     0.010          0.630618        0.558659
2     0.100          0.786517        0.787709
3     1.000          0.790730        0.826816
4    10.000          0.782303        0.821229
5   100.000          0.783708        0.821229
6  1000.000          0.783708        0.821229